<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Тональные средства</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <!-- для корректной радоты в интернет эксплорере-->
        <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- тег viewport, который позволяет 
          выставить базовые настройки для корректного отображения сайта на мобильных устройствах.-->
          
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
      <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home  </a>
                    </li>
                    <li role="presentation"><a href="#">Sign In  </a>
                    </li>
                    
                </ul>
            </nav>
            <h3 class="text-muted">Интернет магазин косметики от Шаганэ</h3>
        </div>
 
        <div class="jumbotron" style="text-align: center">
            <h1>Тональные средства</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="tint" role="button">смотреть</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>наш сайт</h4>
                <p>он очень простой, только тональные средства</p>
                
            </div>
 
            <div class="col-lg-6">
                <h4>Ведите себя хорошо</h4>
                <p>Это только начало</p>
       
            </div>
        </div>
 
        <footer class="footer">
            <p style="text-align:center; color:red">&copy; SHAHANE Company 2019</p>
        </footer>
 
    </div>
    </body>
</html>