body{
  background: #f7e3e8;
}

header{
  height:100px;
  border-top: 15px solid #520d10;
  border-bottom:10px solid #af4343;
}
  header > h2 {
    margin-top:5px;
    text-align: center;
  }

  header > p {
    color: #680721; 
    text-align: center; 
    font-size: large; 
    font-weight: bold;
  }


#wrap{
  margin:0px auto 0px;
  padding:10px;
  border:1px solid #074776;
  border-radius:10px;
  -moz-border-radius:10px;
  width: auto;
}
.col-sidebar{
  width: 20%;
  float: left;
  padding: 20px 2.5%;
}
.col-main{
  width: 75%;
  float: right;
  padding: 20px;
}

#tovar {
  margin:0px;
  padding:0px
}

#tovar li{
  border:1px solid #074776;
  border-radius:5px;
  -moz-border-radius:5px;
  float:left;
  width:165px;
  padding:10px;
  margin:20px;
  height:250px;
  cursor: pointer;
  list-style:none;
}

li {
  list-style:none
}

#brand {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center; 
  margin-top:4px; 
  color: #0c0c16; 
  font-size: large; 
  font-weight: bold;
}

#title {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  text-align:center;
  width: 130px;
  height: 140px;
  color:#242c72;
  font-size:1.2em;
  font-weight:bold;
}

#price {
  text-align:center;
  margin-top:4px;
  color:#520d10;
  font-size:1.4em;
  font-weight:bold;
  align-self: end;
}

footer{
  height:50px;
  border-top:10px solid #643159;
  clear:both; 
  text-align: center; 
  font-weight: bolder; 
  background-color: #d3a1f0;
}
