<!DOCTYPE html>
<html lang="ru">

<head->
	<title>Тоналки</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<script type='text/javascript'>
		function sort_brands() {
	
			var getBrandValues = document.getElementsByClassName('brandCheck');
			var i;
			brandselected = [];
			for (i=0; i<getBrandValues.length; i++) {
				if (getBrandValues[i].checked){
					brandselected.push(getBrandValues[i].value)
				}
			}
	
			console.log(brandselected);
							
			var xHttp = new XMLHttpRequest();
			xHttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					onReponseCorrect(this);
				}
			}
			document.getElementById("sorted").innerHTML = "SENDING REQUEST";
			xHttp.open("POST", "tint_sorted", true);
			xHttp.setRequestHeader("Content-type", "application/json");
			xHttp.send(JSON.stringify(brandselected));
		}
	
		function onReponseCorrect(inData)
		{
			document.getElementById('sorted').innerHTML = '<ul id="tovar"></ul>';
			let jj = JSON.parse( inData.responseText );
			for(var el in jj)
			{
				let li = document.createElement('li');
				document.getElementById('tovar').appendChild(li);

				li.innerHTML ='<p id="brand"> ' + jj[el]["Brand"] +' </p>';
				li.innerHTML +='<p id="title">' + jj[el]["Product_name"] + '</p>';
				li.innerHTML +='<p id="price">' + jj[el]["Price"] + 'руб.</p>';
			}
	
		}
		</script>
</head->

<body>
	<header>
		<h2>Интернет магазин SHAHANE</h2>
		<p>Тональные средства</p>
	</header>
	
	<main id="wrap">
		<form action="#">
			<div class="form-group">
				<label for="mytext"></label>
				<input id="mytext" type="text" class="form-control" placeholder="поиск">
				<a class="btn btn-lg btn-success" role="button">искать</a>
			</div>
			<!-- <input type="text" name="search" placeholder="поиск...">
			<button type="submit">search</button> -->
		</form>

		<aside class="col-sidebar">
			<h3>Все торавы</h3>
			<p>Сортировать</p>
			<form class="filter">
				<label>Производитель</label>
				{% for brand in brands %}	
				<li><input class="brandCheck" type="checkbox" onclick="sort_brands()" value="{{brand}}">{{brand}}<br></li>
				{% endfor %}	
			<br>
				<label>Цена</label>
				<li><input class="priceRange" type="checkbox" onclick="sort_price()" value = '1' name="0-1000">До 1000 руб.<br></li>
				<li><input class="priceRange" type="checkbox" onclick="sort_price()" value = '2' name="1000-3000">От 1000 до 3000 руб.<br></li>
				<li><input class="priceRange" type="checkbox" onclick="sort_price()" value = '3' name="3000-5000">От 3000 до 5000 руб.<br></li>
				<li><input class="priceRange" type="checkbox" onclick="sort_price()" value = '4' name="5000+">Свыше 5000 руб.<br></li>		
			</form>

		</aside>

		{% block content %}
		<section class="col-main">
			<div id='sorted'>
				<ul id="tovar">
						{% for item in all_items %}
						<li>
							<!-- <img src="images/<?=$item['img'];?>"> -->
							<p id="brand"> {{item.Brand}} </p>
							<p id="title"> {{item.Product_name}} </p>
							<p id="price"> {{item.Price}} руб.</p>
						</li>
						{% endfor %}
				</ul>
			</div>
		</section>
		{% endblock %}

		<footer class="footer">
			<p>&copy;SHAHANE Company 2019</p>
		</footer>

	</main>
</body>

</html>

{% block sorted %}

{% endblock %}